<%= simple_form_for project do |f| %>
  <%= f.input :name %>

  <%= f.input :status, collection: @statuses, include_blank: false %>


  <%= f.input :description, as: :text, input_html: { rows: 4 } %>

  <div class="inline">
    <%= f.button :submit %>

    <% if project.persisted? %>
      <%= link_to "Show this project", project, class: "text-body bg-neutral-secondary-medium box-border border border-default-medium hover:bg-neutral-tertiary-medium hover:text-heading focus:ring-4 focus:ring-neutral-tertiary shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none" %>
    <% end %>
  </div>
<% end %>
